{% extends 'emails/html/base-email.html' %}

{% block heading %}Forgot Your Password?{% endblock %}

{% block recepient_name %}
Hi {{name|title}},
{% endblock %}

{% block email_body %}

You recently requested to reset the password for your pawtaker account. Click the button below to proceed.

If you did not request a password reset, please ignore this email. This password reset link is only valid for the 24 hour.

We promise you to have best experience with our website for your pet.

{% endblock %}

{% block button_link %}
{{link}}
{% endblock %} 

{% block button_text %}
Reset Password
{% endblock %}